/*      NAVBAR     */

.navbar {
    padding: 20px 5% 20px 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 600;
    background-color: white;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.navbar .nav {
    width: 80%;
    justify-content: end;
}

.navbar body {
    padding-top: 100px;
}

.navbar .nav .nav-link {
    color: dimgray;
}

.navbar .nav .nav-link:hover {
    color: #10bc69;
}


/*     SECOND NAVBAR  INSIDE SECTION-6 PORTFOLIO    */

.navbar-second .nav .nav-link {
    color: dimgray;
    font-weight: bold;
}

.navbar-second .nav .nav-link:hover {
    color: #10bc69;
}

.navbar .nav-show-btn,
.nav-hide-btn {
    display: none;
}


/* CSS APPLIED TO ICONS  */

.icon i {
    font-size: 30px;
    /* color: #10bc69; */
}

.icon i:hover {
    color: #10bc69;
}


/* CSS APPLIED TO ALL SECTIONS */

.grid {
    /* margin-top: 90px; */
    padding-top: 90px;
}

.grid h1 {
    font-size: 32px;
}


/*      <!-- SECTION - 1 Elegant and creative solutions-->     */

.grid-first h1 {
    font-size: 48px;
}

.grid-first {
    margin-top: 120px;
}

.grid-first .main {
    height: 100%;
    display: flex;
    align-items: center;
}

.grid-first .btn-2 i {
    color: #10bc69;
}

.grid-first .btn-2 span {
    font-size: large;
    font-weight: bold;
}

.grid-first .btn-2 span:hover {
    color: #10bc69;
}


/*     <!-- SECTION -2 Three cards after section-1 -->  */

.grid-second .icon {
    color: #10bc69;
}

.grid-second .container .card {
    text-align: center;
}

.grid-second .container .second-sect-card {
    padding: 20px;
}

.grid-second .container .card .title a {
    font-size: 32px;
    text-decoration: none;
    color: grey;
}

.grid-second .container .card .title a:hover {
    color: #10bc69;
}


/* <!-- SECTION -4 Count of Clients,Projects--> */

.grid-fourth h1 {
    color: #10bc69;
    font-size: 48px;
}


/* <!-- SECTION -5 SERVICES --> */

.grid-fifth .container .fifth-sect-card {
    /* padding: 20px; */
    padding: 50px;
}

.grid-fifth .container .card:hover {
    cursor: pointer;
    border: 1px solid #10bc69;
}

.grid-fifth .container i {
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 10%;
    background-color: #10bc69;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.grid-fifth .container .icon i {
    color: white;
}

.grid-fifth .container .card .title a {
    font-size: 32px;
    text-decoration: none;
    color: grey;
}

.grid-fifth .container .card .title a:hover {
    color: #10bc69;
}


/*     <!-- SECTION -8 Call to Action -->  */

.section-eight {
    background-color: #10bc69;
}

.section-eight .container {
    padding: 0% 10% 3% 10%;
    text-align: center;
    color: white;
}


/*     <!-- SECTION -9 Team --> */

.grid-nineth .container .mem-info {
    padding: 30px;
    background-color: white;
    color: gray;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -50px;
    left: 20px;
    right: 20px;
}

.grid-nineth .container .mem-info span {
    font-size: 13px;
    font-style: italic;
    display: block;
}

.grid-nineth .container .socials {
    position: absolute;
    right: 20px;
}

.grid-nineth .container .socials i {
    color: grey;
}

.grid-nineth .container .socials i:hover {
    color: #10bc69;
}

.grid-nineth hr {
    width: 20%;
}


/* <!-- SECTION -10 Contact --> */

.grid-tenth .container .card {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.grid-tenth .container i {
    font-size: 20px;
    color: #10bc69;
}

.grid-tenth .container i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #efe9e9d4;
    /* border: 1px solid #10bc69; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-tenth .container i:hover {
    color: white;
    background-color: #10bc69;
}

.grid-tenth .container .card-1 p {
    margin: 0;
}

.grid-tenth .container .send-msg-btn {
    text-align: center;
}


/*     <!-- SECTION -11 FOOTER Newsletter-->   */

.section-eleven {
    background-color: #f8f9fa;
}

.section-eleven .container {
    padding: 0% 10% 3% 10%;
    text-align: center;
}

.section-eleven .form-control {
    width: 50%;
}

.section-eleven .description input {
    font-size: 17px;
    /* border: 1px solid #10bc69; */
    box-shadow: 0 0 5px gray;
    padding: 10px 0;
}

.section-eleven .description .input-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-eleven .input-group {
    position: relative;
    width: 800px;
}

.section-eleven .description .btn {
    padding: 0 20px 0 20px;
    position: absolute;
    /* top: 0; */
    right: 0;
    height: 100%;
    cursor: pointer;
    z-index: 10;
}


/*     <!-- SECTION -12 FOOTER TOP Useful Links,Our Services ...--> */

.grid-twelveth .description {
    margin-top: 10px;
}

.grid-twelveth .description li {
    list-style-type: none;
    padding: 6px 0;
}

.grid-twelveth .description .bullet {
    font-size: 10px;
    color: #10bc69;
}

.grid-twelveth .description a {
    text-decoration: none;
    color: black;
}

.grid-twelveth .description a:hover {
    color: #10bc69;
}


/*     <!-- FOOTER - COPYRIGHT  --> */

.footer hr {
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
}

.footer {
    text-align: center;
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    color: #10bc69;
}


/* SCREEN SIZE = 1200px */

@media only screen and (max-width: 1200px) {
    .navbar .nav {
        width: 75%;
    }
    .grid-third .container .about-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-tenth .card-1 {
        padding: 15px !important;
        height: 100%;
    }
    .grid-tenth .card-2 {
        padding: 15px !important;
        height: 100%;
    }
    .grid-nineth .container .mem-info {
        padding: 10px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
        position: absolute;
        bottom: -50px;
        left: 18px;
        right: 18px;
    }
    .grid-nineth .container .socials {
        position: absolute;
        right: 20px;
    }
}


/* SCREEN SIZE = 992px */

@media only screen and (max-width: 992px) {
    .navbar .nav {
        display: block;
        /* width: 300px; */
        width: 100%;
        height: 100%;
        background: white;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 3;
        transition: all 0.5s ease-in-out;
    }
    .navbar .nav .nav-link {
        font-weight: bold;
    }
    .navbar .nav-hide {
        width: 50px;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #212529 !important;
        border-radius: 100px;
        color: #fff;
        text-decoration: none;
        font-size: 23px;
        margin: 15px 15px 50px auto;
    }
    .navbar .nav-show-btn,
    .nav-hide-btn {
        display: block;
    }
    .grid-twelveth .container .card {
        padding: 10px !important;
    }
    .grid-nineth .container .mem-info {
        padding: 10px;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
        position: absolute;
        bottom: -50px;
        left: 5px;
        right: 5px;
    }
    .grid-nineth .container .socials {
        position: absolute;
        right: 10px;
    }
    .grid-nineth .container .mem-info span {
        font-size: 12px;
        display: block;
    }
}


/* SCREEN SIZE = 991px */

@media only screen and (max-width: 991px) {
    .grid-tenth .container .card-2 {
        margin-top: 20px;
    }
}


/* SCREEN SIZE = 981px */

@media only screen and (max-width: 981px) {
    .grid-second .container .second-sect-card {
        padding: 10px !important;
    }
    .grid-fifth .container .fifth-sect-card {
        padding: 10px !important;
    }
}


/* SCREEN SIZE = 768px */

@media only screen and (max-width: 768px) {
    .grid-first h1 {
        font-size: 32px;
    }
    .grid-fourth h1 {
        font-size: 32px;
    }
    .grid-tenth .card-1 i {
        font-size: 19px;
        padding-right: 10px;
    }
    .grid-nineth .container .mem-info {
        position: absolute;
        bottom: -50px;
        left: 5px;
        right: 5px;
    }
    .grid-nineth .card {
        margin-top: 80px;
    }
    .grid-nineth .row {
        padding-top: 0 !important;
    }
    .grid-nineth .description p {
        margin: 0;
    }
    .grid-tenth .container i {
        /* font-size: 20px;
        color: #10bc69; */
        padding: 0%;
    }
    /* .grid-tenth .container .card-2 {
        margin-top: 20px;
    } */
    /* .grid-tenth .container i {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #dfdede;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
}


/* SCREEN SIZE = 767px */

@media only screen and (max-width: 767px) {
    .grid-first .main .card {
        width: 100%;
        height: 100%;
        text-align: center;
    }
}


/* SCREEN SIZE = 430px */

@media only screen and (max-width: 430px) {
    .navbar .nav-info .btn {
        display: none;
    }
}


/* SCREEN SIZE = 320px */

@media only screen and (max-width: 320px) {
    .grid-first h1 {
        font-size: 32px;
    }
    .grid-fourth h1 {
        font-size: 32px;
    }
    .grid-fifth .container .description p {
        margin-top: 7px;
    }
    .grid-tenth .card-1,
    .card-2 {
        padding: 7px !important;
        height: 100%;
    }
    .section-eleven .input-main .input-group .form-control {
        height: 30px;
    }
    .section-eleven .description .btn {
        height: 30px;
        font-size: 13px;
    }
}